*.txt
*.exe
*.ha1
*.ha2
*.ha3
*.ha4
*.he1
*.he2
*.he3
*.he4
*.de1
*.de2
*.de3
*.de4
*.dh1
*.dh2
*.dh3
*.dh4
*.xml
*.huf
*.dic
*.dhu
*.hh1
*.hh2
*.hh3
*.hh4
*.dhh1
*.dhh2
*.dhh3
*.dhh4
*.dichh1
*.dichh2
*.dichh3
*.dichh4